footer {
  background-color: #333132;

  .impact-name {
    line-height: 194px;
    color: white;

    @media #{$small-only} {
      line-height: 2;
    }

    em {
      color: white;
    }
  }

  .impact-logo {
    margin: 81px 0;

    @media #{$small-only} {
      margin: 16px auto;
    }
  }
}
