.sign-up {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $primary-color;
  color: white;

  p {
    font-size: rem-calc(18);
    font-weight: 300;
  }

  input[type=email] {
    @include radius(10px);
    padding: 1em;
    border-width: 0;
  }

  input[type=submit] {
    position: absolute;
    left: $column-gutter / 2;
    bottom: -3px;
    padding: rem-calc(8) rem-calc(32);
    background-color: white;
    color: $primary-color;

    @media #{$small-only} {
      position: static;
    }
  }
}

footer {
  padding: 65px 0;
  background-color: #333132;

  .sda-movement {
    line-height: 64px;
    font-size: rem-calc(13);
    color: white;

    @media #{$small-only} {
      line-height: 2;
      text-align: center;
    }
  }

  .impact-name {
    line-height: 64px;
    color: white;

    @media #{$small-only} {
      line-height: 2;
    }

    em {
      color: white;
    }
  }

  .fa {
    vertical-align: middle;
    font-size: 1.5em;
    color: white;
  }

  .logo {
    margin: 16px 0 16px 16px;
    height: 32px;
  }
}
