<section class="slide" id="vision">
  <div class="slide-content">
    <div class="slide-bg"></div>

    <div class="row">
      <div class="small-10 small-centered columns text-left">
        <div class="bubble">
          <strong>impact your</strong><br>
          generation<br>
          to see Christ return
        </div>
      </div>
    </div>

    <div class="row impact-meaning">
      <div class="small-10 small-centered columns">
        <div class="row">
          <div class="small-12 medium-push-8 medium-4 columns text-right small-only-text-center">
            <%= image_tag 'logo.png', alt: "IMPACT generation", class: 'impact-logo' %>
          </div>
          <div class="small-12 medium-pull-4 medium-8 columns">
            <%= partial 'impact_name' %>
          </div>
        </div>
      </div>
    </div>

    <a href="#vision-of-impact" class="scroller button round"><i class="fa fa-chevron-down"></i></a>

    <div class="row">
      <div class="small-10 small-centered medium-8 columns">
        <figure>
          <blockquote id="vision-of-impact">“Empowered by the Spirit, IMPACT seeks to inspire members to proclaim the advent of Christ together – in this generation.”</blockquote>
          <figcaption>vision of IMPACT</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="slide" id="heartbeat">
  <div class="slide-content">
    <%= image_tag "heartbeat.png", alt: "conferences, mission trip, mission training, life-long service", class: 'heartbeat' %>

    <div class="slide-heading">
      <h1>our mission</h1>
      <div class="row">
        <div class="small-10 small-centered medium-8 columns">
          <p>
            As a cooperating lay-movement of the Seventh-day Adventist
            Church, IMPACT strives to encourage and equip this generation
            to fully use their energies and talents in the service of God.
            By facilitating conferences, mission trips, training and
            mission opportunities, we implant a lifelong commitment to the
            spreading of the everlasting gospel to the world.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slide with-bg" id="heartbeat-list">
  <div class="slide-content">
    <div class="row">
      <div class="small-12 medium-8 medium-centered columns text-left">
        <div class="bubble"> <p>It is our aim that the below points will become the very heartbeat of the lives of the IMPACT participants:</p>

          <ol>
            <li>A strong faith in and love for the Scriptures as the foundation of our lives</li> 
            <li>A deep respect for the Spirit of Prophecy as an authoritative source of truth</li>
            <li>A life marked by a personal relationship with Jesus Christ, who is the center of our faith</li>
            <li>A vibrant devotional life, characterized by daily prayer and Bible study</li> 
            <li>A vibrant worship experience, characterized by principle and reverence</li>
            <li>An abundant lifestyle, exemplifying Jesus, in work, recreation, dress, conduct and healthy living</li>
            <li>A cultivation of relationships, preserving purity and encouraging accountability</li>
            <li>A loyalty to God through faithful stewardship of all our time, talents and resources</li>
            <li>A commitment to the worldwide Seventh-day Adventist Church as God’s remnant church by supporting and upholding its principles, organization and leadership</li>
            <li>A commitment to the heaven-appointed purpose of giving the everlasting gospel, in the context of the three angels’ messages, to the world in this generation</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slide" id="events">
  <div class="slide-content">
    <div class="slide-heading">
      <h1>current events</h1>
    </div>

    <div class="row">
      <div class="small-10 small-centered columns">
        <ul class="no-bullet">
          <li>
            <h2>IMPACT vienna</h2>
            <div class="tagline">he forms us</div>
            <div class="dates">july 27–august 3</div>
            <a href="" class="button radius">Go to event</a>
          </li>
          <li>
            <h2>IMPACT haugalandet</h2>
            <div class="tagline">no other</div>
            <div class="dates">august 5–12</div>
            <a href="" class="button radius">Go to event</a>
          </li>
          <li>
            <h2>IMPACT göteborg</h2>
            <div class="tagline">therefore: go!</div>
            <div class="dates">august 10-17</div>
            <a href="" class="button radius">Go to event</a>
          </li>
          <li>
            <h2>IMPACT daugavpils</h2>
            <div class="tagline">God is calling you</div>
            <div class="dates">august 17-24</div>
            <a href="" class="button radius">Go to event</a>
          </li>
          <li>
            <h2>IMPACT finland conference</h2>
            <div class="dates">easter 2015</div>
            <a href="" class="button radius">Go to event</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="slide with-bg" id="quotes">
  <div class="slide-content">
    <div class="row">
      <div class="small-10 small-centered columns text-left">
        <div class="row">
          <div class="small-12 columns">
            <div class="bubble">
              <figure>
                <blockquote>“Success in any line demands a definite aim…The heaven-appointed purpose of giving the gospel to the world in this generation is the noblest that can appeal to any human being.”</blockquote>
                <figcaption>Education p. 262</figcaption>
              </figure>
            </div>
          </div>
          <div class="small-12 medium-6 columns">
            <div class="bubble">
              <figure>
                <blockquote>“A generous person will prosper; whoever refreshes others will be refreshed.”</blockquote>
                <figcaption>Proverbs 11:25</figcaption>
              </figure>
            </div>
          </div>
          <div class="small-12 medium-6 columns">
            <div class="bubble">
              <figure>
                <blockquote>“It is in unselfish ministry that true happiness is found.”</blockquote>
                <figcaption>Testimonies for the Church Vol. 7, p. 49</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slide" id="resources">
  <div class="slide-content">
    <div class="slide-heading">
      <h1>resources</h1>
    </div>

    <div class="row">
      <div class="small-2 small-offset-1 columns text-left">
        <i class="fa fa-file-audio-o"></i>
      </div>
      <div class="small-8 columns end text-left">
        <ul class="no-bullet">
          <li>
            <a href="">IMPACT scandinavia conference 2012 (English)</a>
          </li>
          <li>
            <a href="">IMPACT finland conference 2014 (English and Finnish)</a>
          </li>
          <li>
            <a href="">IMPACT norway mission trips 2014 (English)</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-2 small-offset-1 columns text-left">
        <i class="fa fa-file-video-o"></i>
      </div>
      <div class="small-8 columns end text-left">
        <ul class="no-bullet">
          <li>
            <a href="">IMPACT scandinavia conference 2012 (English and Swedish)</a>
          </li>
          <li>
            <a href="">IMPACT latvia mission trip 2012 (English and Latvian)</a>
          </li>
          <li>
            <a href="">IMPACT romania mission trip 2013 (English and Romanian)</a>
          </li>
          <li>
            <a href="">IMPACT spain conference 2014 (English and Spanish)</a>
          </li>
          <li>
            <a href="">IMPACT norway mission trips 2014 (English)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="slide with-bg" id="quote-2">
  <div class="slide-content">
    <div class="row">
      <div class="small-10 small-centered columns text-left">
        <div class="bubble">
          <figure>
            <blockquote>“When the members of the church of God do their appointed work…the whole world will soon be warned and the Lord Jesus will return.”</blockquote>
            <figcaption>Acts of the Apostles, p. 111</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slide" id="contact">
  <div class="slide-content">
    <div class="slide-heading">
      <h1>Questions?</h1>
      <div class="row">
        <div class="small-10 small-centered medium-8 columns">
          <p>
            Do you want to start an IMPACT chapter in your area? Or do
            you simply want to know more about the concept? Let us know
            by filling the form below
          </p>
        </div>
      </div>
    </div>

    <form class="contact" action="" method="post">
      <div class="row" data-equalizer>
        <div class="small-12 medium-6 medium-offset-2 columns" data-equalizer-watch>
          <!-- real people should not fill this in and expect good things - do not remove this -->
          <div style="position: absolute; left: -5000px;"><input type="text" name="subject" value=""></div>
          <input type="email" name="email" placeholder="your email address">
          <textarea name="question" placeholder="your question"></textarea>
        </div>
        <div class="small-12 medium-2 columns end text-right" data-equalizer-watch>
          <input class="button radius" type="submit" value="submit">
        </div>
      </div>
    </form>
  </div>
</section>
